
* { border: 1px solid rgb(114, 86, 86); }

html{
  height: 100%;
  width: 100%
}

body {
  background-color: #000000;
  color: seashell;
  font-size: 22px;
  opacity: 0.9;  
 
}
header{
  display: inline-flex;
}

#logo{
  text-align: left;
  display: flex;
  height: 50px;
  padding: 10px;
}

#nav{
  display: inline-flex;

  

}

h1{
  font-family: Helvetica;
  text-align: center;
}

.tea_of_the_month_container img{
  max-width: 200px;
}

.hero_container img{
  max-height: 500px;
}

.locations_container img{
  max-height: 500px;
}