
* { border: 1px solid black; }

html, body {
  height: 100%;
  width: 100%;
  background-color: #ccd0ef;
  
}

h1{
  font-family: Helvetica;
  text-align: center;
}

.tea_of_the_month_container img{
  max-width: 200px;
 
}

.hero_container img{
  max-height: 500px;
}